{{include('pages/inc/header.html.twig')}}
<div class="container">
<h2>Update Categorie</h2>
{{form_start(form)}}
{{form_widget(form)}}
{{form_end(form)}}
</div>
<a class="btn btn-primary" href="/categ">Back</a>
{{include('pages/inc/footer.html.twig')}}