 

{{include('pages/inc/header.html.twig')}}
<div class="container ">

<h2>Create Post</h2>
 {{form_start(form)}}
{{form_widget(form)}}
 {{form_end(form)}}
<a class="btn btn-primary btn-sm" href="/post">Back</a></p>

 <div>
 {{include('pages/inc/footer.html.twig')}}